body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: azure;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.topnav {
  height: 64px;
  background-color: skyblue;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 10;
}

h1 {
  color: white;
  text-shadow: 1px 1px rgb(109, 109, 109);
}

.search-wrapper {
  border: 1px solid black;
  max-width: fit-content;
  background-color: white;
  box-shadow: 0px 2px 2px 1px grey;
  border-radius: 5px;
  padding: 1px;
}

input {
  height: 20px;
}

input:focus {
  border: 1px solid pink;
}

input,
.search {
  background-color: transparent;
  border: 0;
}

.search {
  cursor: grab;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px rgb(228, 228, 228);
}

.wrapper main {
  height: calc(100vh - (64px + 50px));
  margin-left: 20px;
  margin-right: 20px;
}

.info-wrapper {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info-box {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.day {
  font-weight: bold;
}

footer {
  display: none;
  height: 50px;
  background-color: rgb(30, 131, 170);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
