body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: azure;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.topnav {
  height: 64px;
  background-color: skyblue;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 10;
}

h1 {
  color: white;
  text-shadow: 1px 1px rgb(109, 109, 109);
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: aquamarine;
  margin-left: 20px;
}

.search-wrapper {
  border: 1px solid black;
  max-width: fit-content;
  background-color: white;
  box-shadow: 0px 2px 2px 1px grey;
  border-radius: 5px;
  padding: 1px;
}

input {
  height: 20px;
}

input:focus {
  border: 1px solid pink;
}

input,
.search {
  background-color: transparent;
  border: 0;
}

.search {
  cursor: grab;
}

.wrapper main {
  height: calc(100vh - (64px + 50px));
  background-color: aqua;
  margin-left: 20px;
  margin-right: 20px;
}

.info-wrapper {
  height: max-content;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box {
  height: 80px;
  width: 100%;
  min-width: 200px;
  background-color: yellow;
  border: 2px solid grey;
}

footer {
  display: none;
  height: 50px;
  background-color: bisque;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
